@keyframes changeBtnColor {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.moviesCard {
  background-color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, .08);
  width: 100%;
}

.moviesCard__header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.moviesCard__title {
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
}

.moviesCard__duration {
  margin: auto 0;
  font-size: 13px;
  line-height: 1.38;
  color: #a0a0a0
}

.moviesCard__image {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.moviesCard__button {
  width: 100px;
  height: 29px;
  display: block;
  font-size: 12px;
  line-height: .92;
  background-color: #f9f9f9;
  border-radius: 30px;
  border: none;
  padding: 0;
  margin: 18px auto;
}

.moviesCard__button_active {
  color: transparent;
  background-image: url('../../images/button-save.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff3055;
  opacity: 0;
  animation: changeBtnColor 1.5s forwards;
}

@media screen and (max-width: 1279px) {

  .moviesCard__image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {

  .moviesCard__header {
    padding: 14px;
  }

  .moviesCard__title {
    font-size: 12px;
    line-height: 1.5;
  }

  .moviesCard__duration {
    font-size: 10px;
    line-height: 1.8;
  }

  .moviesCard__image {
    height: 168px;
  }

  .moviesCard__button {
    margin: 14px auto;
  }
}
