.form__form-field {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin: 10px 0 0;
  font-size: 10px;
  color: #a0a0a0;
}

.form__input {
  font-size: 13px;
  padding: 15px;
  outline: none;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
}

.form__button {
  width: 100%;
  margin: 85px 0 18px;
  padding: 13px 0 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: #3456f3;
  border: none;
  border-radius: 3px;
}

.form__button_disabled {
  pointer-events: none;
  opacity: .2;
}

.form__emptiness {
  margin-bottom: 87px;
}

.form__error {
  font-size: 10px;
  line-height: 1.21;
  padding: 0 0 10px;
}

.form__error_visible {
  color: #ff3055;
}

.form__input_red {
  color: #ff3055;
}

@media screen and (max-width: 767px) {

  .form__button {
    margin: 170px 0 14px;
    padding: 15px 0;
    font-size: 12px;
  }

  .form__input {
    margin: 10px 0;
  }

  .form__emptiness {
    margin-bottom: 89px;
  }
}
