.savedMovies {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {

  .savedMovies {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {

  .savedMovies {
    padding: 0 10px;
  }
}
