@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

.logo {
  height: 38px;
  width: 38px;
  background-image: url(./images/logo.svg);
  border: none;
  background-color: transparent;
}

.button-opacity {
  transition: opacity .2s linear;
  cursor: pointer;
}

.button-opacity:hover {
  opacity: .8;
}

.link-opacity {
  transition: opacity .2s linear;
}

.link-opacity:hover {
  opacity: .7;
}
